<p style="color: green"><%= notice %></p>

<% content_for :title, "Weather broadcast" %>

<div class="container">
  <h1>Weather broadcast</h1>

  <div class="row">
    <div id="location">
      <%= form_with url: '/', method: :get do |form| %>
        <%= form.text_field :location, value: @location, placeholder: 'Type your location' %>
        <%= form.submit "Check weather", name: nil %>
      <% end %>
    </div>
  </div>

  <% if @weathers&.any? %>
    <div class="row">
      <% @weathers.each do |weather| %>
        <div class="col">
          <%= render "weather", weahter: %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
